@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

header{
    display: flex;
    justify-content: center;
    background-color: bisque;
    font-family: "Pixelify Sans", sans-serif;
}

header h1{
    font-size: 50px;
}

main{

    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100vw;
    height: 40vw;
}

.instruments{
    display: flex;
    gap: 3px;
    box-shadow: 0 0 5px black;
    height: 100%;
}

.instruments > img{
    border: 1px black solid;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}
.pixels{
    box-shadow: 0 0 5px black;
    background-color: antiquewhite;
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(20, 1fr);
    border-radius: 5px;
    padding: 2px;
    user-select: none;
}
.cell{
    border: 1px gray solid;
}

.colors{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.colors > div{
    border: 1px black solid;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    background: var(--clr);
}